/* navbar.active */
.navbar-active.active {
  @apply text-green-600 dark:text-green-600;
}

/* husna card: multiple line ellipsis */
.husna-block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 36px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
